@import "_reset";
@import "_vars";
@import "_background";

@mixin flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}


body {
  height: 100%;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.content {
  max-width: 1200px;
  min-height: 100%;
  @include flexCenter;
  margin-left: auto;
  margin-right: auto;
  color: $color6;
  background-color: $color4;
  overflow: hidden;
}

.game-title {
  width: 100%;
  min-height: 100px;
  background-color: $color6;
  text-align: center;
  padding: 20px 0;

  p {
    color: $color2;
  }

  h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: $color5;
  }
}

.game-input {
  width: 100%;
  min-height: 200px;
  @include flexCenter;
  padding: 15px 0;

  p {
    font-weight: 700;
    margin-bottom: 20px;
  }

  input {
    max-width: 100%;
    min-height: 50px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 25px;
    border-radius: 50px 50px;
    background-color: $color5;
  }

  .game-input__validation {
    text-align: center;
  }

  .game-input__btn {
    min-width: 150px;
    min-height: 50px;
    padding: 15px;
    font-size: inherit;
    border-radius: 50px;
    color: $color2;
    background-color: $color1;
  }

  .game-input__btn:hover {
    transition: 0.5s;
    background-color: $color6;
  }
}

.game-animation {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;

  .game-animation__container {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: url('../img/barbell.png') 6px 100%/auto auto no-repeat, $color2;

    .human {
      width: 400px;
      height: 450px;
      display: flex;
      flex-direction: column;
      background-color: $color2;

      .human__rope {
        max-width: 100%;
        height: 12.5%;
        background: url('../img/rope.png') 50% 0/auto auto no-repeat;
      }

      .human__head {
        max-width: 100%;
        height: 25%;
        background: url('../img/head.png') 50% 0/auto auto no-repeat;
      }

      .human__body {
        max-width: 100%;
        height: 37.5%;
        display: flex;
        justify-content: space-between;
        background: url('../img/body.png') 50% 0/auto auto no-repeat;

        .human__body-left {
          width: 190px;
          background: url('../img/left_arm.png') 100% 0/auto auto no-repeat;
        }

        .human__body-right {
          width: 190px;
          background: url('../img/right_arm.png') 0 0/auto auto no-repeat;
        }
      }

      .human__leg {
        max-width: 100%;
        height: 37.5%;
        display: flex;
        justify-content: space-between;


        .human__leg-left {
          width: 195px;
          background: url('../img/left_leg.png') 100% 0/auto auto no-repeat;
        }

        .human__leg-right {
          width: 195px;
          background: url('../img/right_leg.png') 0 0/auto auto no-repeat;
        }
      }
    }
  }
}

.game-result {
  width: 100%;
  min-height: 150px;
  @include flexCenter;
  padding: 20px 0;
  background-color: $color6;

  p {
    font-size: 30px;
    margin-bottom: 20px;
    color: $color5;
  }

  div {
    min-width: 200px;
    min-height: 40px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: $color5;
  }

  .game-result__word {
    text-align: center;
    margin-bottom: 0;
    color: $color1;
  }
}

.hidden {
  visibility: hidden;
}


@media screen and (max-width: 576px) {

  .game-title {
    h1 {
      font-size: 44px;
    }
  }

  .game-animation {
    .game-animation__container {
      width: 350px;
      height: 350px;
      background: url('../img/barbell.png') 5px 100%/65% 95% no-repeat, $color2;

      .human {
        width: 250px;
        height: 320px;

        .human__head {
          background: url('../img/head.png') 50% 0/30% 100% no-repeat;
        }

        .human__leg {
          .human__leg-left {
            background: url('../img/left_leg.png') 100% 0/auto 90% no-repeat;
          }

          .human__leg-right {
            background: url('../img/right_leg.png') 0 0/auto 90% no-repeat;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {

  .game-animation {
    .game-animation__container {
      width: 250px;
      height: 250px;

      .human {
        width: 173px;
        height: 230px;
      }
    }
  }
}